* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;

    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}
:root {
    /*font-size: 62.5%;*/
}
body {
    width: 100%;
    min-height: 100vh;

    background: #f3f3f3;

    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}